In [6]:
dfCleaned = pd.read_csv('dfCleaned.csv', index_col = False)
dfCleaned = dfCleaned.drop('Unnamed: 0',axis='columns')
dfCleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,QuantityCanceled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,0

In [9]:
df = pd.read_csv("data.csv", encoding="ISO-8859-1", dtype={'CustomerID': str,'InvoiceID': str})
df.replace({'':np.NaN},inplace=True)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [17]:
df[df['Description']=='WHITE HANGING HEART T-LIGHT HOLDER']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:02,2.55,17850,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:32,2.55,17850,United Kingdom
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,12/1/2010 10:19,2.55,17511,United Kingdom
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/1/2010 10:39,2.55,13408,United Kingdom
278,536396,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 10:51,2.55,17850,United Kingdom
364,536401,85123A,WHITE HANGING HEART T-LIGHT HOLDER,4,12/1/2010 11:21,2.95,15862,United Kingdom
416,536406,85123A,WHITE HANGING HEART T-LIGHT HOLDER,8,12/1/2010 11:33,2.55,17850,United Kingdom
935,536502,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 12:36,2.95,16552,United Kingdom
979,536520,85123A,WHITE HANGING HEART T-LIGHT HOLDER,3,12/1/2010 12:43,2.95,14729,United Kingdom
1440,536542,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/1/2010 14:11,2.95,16456,United Kingdom
1779,536544,85123A,WHITE HANGING HEART T-LIGHT HOLDER,4,12/1/2010 14:32,5.91,NaN,United Kingdom
2306,536575,85123A,WHITE HANGING HEART T-LIGHT HOLDER,128,12/1/2010 16:01,2.55,13777,United Kingdom
2318,536576,85123A,WHITE HANGING HEART T-LIGHT HOLDER,128,12/1/2010 16:11,2.55,13777,United Kingdom
2408,536590,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 16:52,2.95,13065,United Kingdom
2998,536592,85123A,WHITE HANGING HEART T-LIGHT HOLDER,9,12/1/2010 17:06,5.91,NaN,United Kingdom
3062,536594,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 17:22,2.95,15235,United Kingdom
3118,536600,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 8:32,2.55,17850,United Kingdom
3142,536602,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 8:34,2.55,17850,United Kingdom
3188,536607,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 9:29,2.95,17732,United Kingdom
3192,536609,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 9:41,2.55,17850,United Kingdom
3224,536612,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 9:44,2.55,17850,United Kingdom
3425,536628,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 10:54,2.55,17850,United Kingdom
3443,536630,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 10:56,2.55,17850,United Kingdom
3808,536685,85123A,WHITE HANGING HEART T-LIGHT HOLDER,12,12/2/2010 12:23,2.55,17850,United Kingdom
3823,536690,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 12:25,2.55,17850,United Kingdom
4154,536749,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/2/2010 13:49,2.95,17976,United Kingdom
4161,536750,85123A,WHITE HANGING HEART T-LIGHT HOLDER,12,12/2/2010 14:04,2.55,17850,United Kingdom
4182,536752,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/2/2010 14:06,2.55,17850,United Kingdom
4336,536763,85123A,WHITE HANGING HEART T-LIGHT HOLDER,12,12/2/2010 14:42,2.95,17685,United Kingdom
...,...,...,...,...,...,...,...,...
527200,580695,85123A,WHITE HANGING HEART T-LIGHT HOLDER,4,12/5/2011 16:03,2.95,13230,United Kingdom
527541,580725,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/5/2011 17:13,2.55,15932,United Kingdom
528066,580727,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/5/2011 17:17,5.79,14096,United Kingdom
528750,580729,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2,12/5/2011 17:24,5.79,NaN,United Kingdom
529449,580730,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/5/2011 17:28,5.79,NaN,United Kingdom
529687,580746,85123A,WHITE HANGING HEART T-LIGHT HOLDER,18,12/6/2011 9:35,2.95,12584,Italy
530085,C580805,85123A,WHITE HANGING HEART T-LIGHT HOLDER,-1,12/6/2011 11:23,2.95,16764,United Kingdom
530293,580833,85123A,WHITE HANGING HEART T-LIGHT HOLDER,9,12/6/2011 11:41,2.95,16764,United Kingdom
531154,580907,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/6/2011 13:13,2.95,13507,United Kingdom
531402,580939,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/6/2011 14:14,2.95,14907,United Kingdom
533035,581006,85123A,WHITE HANGING HEART T-LIGHT HOLDER,24,12/7/2011 8:45,2.95,14911,EIRE
533124,581014,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/7/2011 9:34,2.95,16458,United Kingdom
533225,581020,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,12/7/2011 10:12,2.55,17511,United Kingdom
533489,581023,85123a,WHITE HANGING HEART T-LIGHT HOLDER,2,12/7/2011 10:35,6.63,NaN,United Kingdom
534035,581129,85123A,WHITE HANGING HEART T-LIGHT HOLDER,18,12/7/2011 12:48,2.95,15498,United Kingdom
534078,581132,85123A,WHITE HANGING HEART T-LIGHT HOLDER,8,12/7/2011 12:55,2.95,17590,United Kingdom
534220,581139,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/7/2011 13:21,2.55,13798,United Kingdom
534363,581146,85123A,WHITE HANGING HEART T-LIGHT HOLDER,3,12/7/2011 13:53,2.95,17602,United Kingdom
534486,581149,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/7/2011 14:12,2.55,15471,United Kingdom
534570,581163,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/7/2011 14:34,2.95,12747,United Kingdom
534876,581174,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/7/2011 15:08,2.95,13769,United Kingdom
535237,581193,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/7/2011 17:05,2.95,17097,Spain
536011,581217,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/8/2011 9:20,5.79,NaN,United Kingdom
536798,581219,85123A,WHITE HANGING HEART T-LIGHT HOLDER,3,12/8/2011 9:28,5.79,NaN,United Kingdom
537251,581238,85123a,WHITE HANGING HEART T-LIGHT HOLDER,7,12/8/2011 10:53,6.63,NaN,United Kingdom
537291,581246,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,12/8/2011 10:59,2.95,15453,United Kingdom
537326,581253,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2,12/8/2011 11:15,2.95,16891,United Kingdom
537852,581356,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/2011 12:28,2.95,17830,United Kingdom
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/8/2011 18:03,2.55,17675,United Kingdom
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/2011 19:55,2.95,15796,United Kingdom

In [8]:
dfCleaned['Description'].nunique()

3878

In [60]:
def unique_counts(data):
   for i in dfCleaned.columns:
       count = dfCleaned[i].nunique()
       print(i, ": ", count)
unique_counts(dfCleaned)

InvoiceNo :  2
StockCode :  3
Description :  3
Quantity :  2
InvoiceDate :  2
UnitPrice :  3
CustomerID :  2
Country :  1
QuantityCanceled :  1

In [61]:
dfCleaned['TotalPrice'] = dfCleaned['UnitPrice'] * (dfCleaned['Quantity'] - dfCleaned['QuantityCanceled'])
# dfCleaned.sort_values('CustomerID')[:5]
dfCleaned.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,QuantityCanceled,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,0,15.3
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,0,12.6
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,0,31.8

In [62]:
dfCleaned['InvoiceDate'] = pd.to_datetime(dfCleaned['InvoiceDate'])

In [65]:
import pickle
with open('labelencoder.pickle','rb') as j:
    modelLoad = pickle.load(j)

In [66]:
dfCleaned['Country'] = modelLoad.transform(dfCleaned['Country'])

In [68]:
NOW = dt.datetime(2011,12,10)
dfCleaned['InvoiceDate'] = pd.to_datetime(dfCleaned['InvoiceDate'])

In [70]:
customAggregation = {}
customAggregation["InvoiceDate"] = lambda x:x.iloc[0]
customAggregation["CustomerID"] = lambda x:x.iloc[0]
customAggregation["TotalPrice"] = "sum"

rfmTable = dfCleaned.groupby("InvoiceNo").agg(customAggregation)

In [71]:
rfmTable["Recency"] = NOW - rfmTable["InvoiceDate"]
rfmTable["Recency"] = pd.to_timedelta(rfmTable["Recency"]).astype("timedelta64[D]")

In [72]:
customAggregation = {}

customAggregation["Recency"] = ["min", "max"]
customAggregation["InvoiceDate"] = lambda x: len(x)
customAggregation["TotalPrice"] = "sum"

rfmTableFinal = rfmTable.groupby("CustomerID").agg(customAggregation)

In [73]:
rfmTableFinal.columns = ["min_recency", "max_recency", "frequency", "monetary_value"]

In [74]:
quantiles = rfmTableFinal.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [75]:
segmentedRFM = rfmTableFinal

In [76]:
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [77]:
segmentedRFM['r_quartile'] = segmentedRFM['min_recency'].apply(RScore, args=('min_recency',quantiles,))
segmentedRFM['f_quartile'] = segmentedRFM['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmentedRFM['m_quartile'] = segmentedRFM['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))

In [78]:
segmentedRFM['RFMScore'] = segmentedRFM['r_quartile'].astype('str')+segmentedRFM['f_quartile'].astype('str')+segmentedRFM['m_quartile'].astype('str')

In [81]:
dfCleaned = pd.merge(dfCleaned,segmentedRFM, on='CustomerID')

In [82]:
dfCleaned = dfCleaned.drop(columns=['r_quartile', 'f_quartile', 'm_quartile'])

In [83]:
dfCleaned['Month'] = dfCleaned["InvoiceDate"].map(lambda x: x.month)
dfCleaned['Weekday'] = dfCleaned["InvoiceDate"].map(lambda x: x.weekday())
dfCleaned['Day'] = dfCleaned["InvoiceDate"].map(lambda x: x.day)
dfCleaned['Hour'] = dfCleaned["InvoiceDate"].map(lambda x: x.hour)

In [84]:
import pickle
with open('product_clusters.pickle','rb') as x :
    modelLoad1 = pickle.load(x)

In [88]:
cluster = dfCleaned['Description'].apply(lambda x : modelLoad1[x])
df2 = pd.get_dummies(cluster, prefix="Cluster").mul(dfCleaned["TotalPrice"], 0)
df2 = pd.concat([dfCleaned['InvoiceNo'], df2], axis=1)
df2_grouped = df2.groupby('InvoiceNo').sum()
df2_grouped.head()

           Cluster_14  Cluster_95  Cluster_102
InvoiceNo
536365           15.3         0.0          0.0
536367            0.0        31.8         12.6

In [89]:
customAggregation = {}
customAggregation["TotalPrice"] = lambda x:x.iloc[0]
customAggregation["min_recency"] = lambda x:x.iloc[0]
customAggregation["max_recency"] = lambda x:x.iloc[0]
customAggregation["frequency"] = lambda x:x.iloc[0]
customAggregation["monetary_value"] = lambda x:x.iloc[0]
customAggregation["CustomerID"] = lambda x:x.iloc[0]
customAggregation["Quantity"] = "sum"
customAggregation["Country"] = lambda x:x.iloc[0]


df_grouped = dfCleaned.groupby("InvoiceNo").agg(customAggregation)

In [110]:
customAggregation = {}
customAggregation["TotalPrice"] = ['min','max','mean']
customAggregation["min_recency"] = lambda x:x.iloc[0]
customAggregation["max_recency"] = lambda x:x.iloc[0]
customAggregation["frequency"] = lambda x:x.iloc[0]
customAggregation["monetary_value"] = lambda x:x.iloc[0]
customAggregation["Quantity"] = "sum"
customAggregation["Country"] = lambda x:x.iloc[0]

df_grouped_final = df_grouped.groupby("CustomerID").agg(customAggregation)
df_grouped_final.columns = ["min", "max", "mean", "min_recency", "max_recency", "frequency", "monetary_value", "quantity", "country"]
df_grouped_final

,min,max,mean,min_recency,max_recency,frequency,monetary_value,quantity,country
CustomerID,,,,,,,,,
13047,12.6,12.6,12.6,373.0,373.0,1,44.4,10,35
17850,15.3,15.3,15.3,373.0,373.0,1,15.3,6,35

In [111]:
df2_grouped_final = pd.concat([df_grouped['CustomerID'], df2_grouped], axis=1).set_index("CustomerID").groupby("CustomerID").sum()
df2_grouped_final = df2_grouped_final.div(df2_grouped_final.sum(axis=1), axis=0)
df2_grouped_final = df2_grouped_final.fillna(0)
df2_grouped_final

            Cluster_14  Cluster_95  Cluster_102
CustomerID
13047              0.0    0.716216     0.283784
17850              1.0    0.000000     0.000000

In [112]:
df3 = df2_grouped_final.copy()

In [113]:
for j in df3.columns:
    df3.drop(str(j),axis=1,inplace=True)
for i in range(135):
    df3['Cluster_' + str(i)] = 0.0

In [114]:
df2_grouped_final = df2_grouped_final.reindex(sorted(df2_grouped_final.columns), axis=1)

In [115]:
for i in df2_grouped_final.columns.values:
    df3[i] = df3[i].replace({0.0:df2_grouped_final[i].values.tolist()})

In [116]:
with open('scaler.pickle','rb') as f :
    modelLoad = pickle.load(f)

In [117]:
X1 = df_grouped_final.as_matrix()
X2 = df3.as_matrix()
X1 = modelLoad.transform(X1)
X_final_std_scale = np.concatenate((X1, X2), axis=1)

C:\Users\KINAN BAHUWEDA M\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\KINAN BAHUWEDA M\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [118]:
X_final_std_scale

array([[-0.10219003, -0.10691182, -0.12485241,  2.80344984,  1.27458171,
        -0.42507933, -0.22455946, -0.23354639,  0.29261812,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.71621622,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.28378378,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [-0.07591597, -0.10264219, -0.11351646,  2.80344984,  1.27458171,
        -0.42507933, -0.22801902, -0.23433854,  0.29261812,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ]])

In [119]:
with open('modelpredict.pkl','rb') as y :
    modelLoad1 = pickle.load(y)

In [120]:
model = modelLoad1.predict(X_final_std_scale)

In [121]:
model

array([3, 3], dtype=int64)